<!DOCTYPE html>
<html lang="en">

    <head>

        {% block head %}
            <title>Particular Classes </title>
        {% endblock %}

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">

    </head>

    {% block header %}
        <body>
            <header>
                <div class="menu">
                    <a href="/teachers" class="active" >Teachers</a>
                    <a href="/students">Students</a>
                </div>
            </header>
        {% endblock %}

        {% block content %}{% endblock %}

    </body>
</html>