{% extends "layout.njk" %}

{% block content %}

<div class="card">
<section class="avatar" style="background: url(https://source.unsplash.com/collection/232812/500x500) no-repeat bottom center / cover" ></section>
<section class="details">

    <h3>Informações</h3>

    <div class="item">
        <div>Nome Completo</div>
        <div>Seu nome</div>
    </div>

    <div class="item">
        <div>Idade</div>
        <div>Sua idade</div>
    </div>

    <div class="item">
        <div>Grau de escolaridade</div>
        <div>Sua formação</div>
    </div>

    <div class="item">
        <div>Tipo de aula</div>
        <div>Presencial ou a distancia</div>
    </div>

    <div class="item">
        <div>Acompanhamento</div>
        <div>ex.: Matemática</div>
    </div>

    <div class="items">
        <div>
            <label>Desde</label>
        </div>
        <div>
            <label>01/01/2000</label>
        </div>
        
    </div>
</section>
</div>

{% endblock content %}